<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <header>
      <h1>Edit <%=team.name%>'s Info</h1>
      <nav>
        <ul>
          <li>
            <a href="/">Home</a>
          </li>
          <li>
            <a href="/teams">Teams Index</a>
          </li>
        </ul>
      </nav>
    </header>
    <main>
      <h2>Team Attributes:</h2>
      <form action="/teams/<%=team._id%>?_method=PUT" method="post">
        <input type="text" name="name" value="<%=team.name%>"/><br/>
        <input type="submit" value="Update Team"/>
      </form>
    </main>
  </body>
</html>
