<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <header>
      <h1>Teams</h1>
      <nav>
        <ul>
          <li>
            <a href="/">Home</a>
          </li>
          <li>
            <a href="/teams/new">Create a new Team</a>
          </li>
        </ul>
      </nav>
    </header>
    <main>
      <h2>List of Teams</h2>
      <ul>
          <% for(let i = 0; i < teams.length; i++){ %>
              <li>
                  <a href="/teams/<%=teams[i]._id%>"><%=teams[i].name%></a>
              </li>
          <section>
        <form action="/teams/<%=teams[i]._id%>?_method=DELETE" method="POST">
          <button type='submit'>Delete </button>
        </form>
      </section>
          <% } %>
          
      </ul>
    </main>
  </body>
</html>
