<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <header>
      <h1>Create a Team</h1>
      <nav>
        <ul>
          <li>
            <a href="/">Home</a>
          </li>
          <li>
            <a href="/teams">Team Index</a>
          </li>
        </ul>
      </nav>
    </header>
    <main>
      <form action="/teams" method="POST">
        <input type="text" name="name" />
        <button type='Submit'>Create Team</button>
      </form>
    </main>
  </body>
</html>
